    .navigation-wrapper {
            height: 50px;
            padding: 10px;
            gap: 10px;
            margin: auto;
            border-radius: 20px;
            background-color: yellowgreen;
            display: flex;
            justify-content: space-around;
            align-items: center;
    }

    .navigation-wrapper span {
        font-size: 30px;
        transition: color 1s, 
        text-decoration 0.3s;
        transition: font-size 0.7s;
        }

    .navigation-wrapper span:hover {
        color: white;
        font-weight: bold;
        font-size: 40px
    }

 
    .logo {
        position: absolute;
        left: 25px;
        align-items: 25px;
        width: 100px;
        height: 100px;
    }

 
    a{
        text-decoration: none;
    }

    .item span {
        font-size: 20px;
        transition: color 1s, 
        text-decoration 0.3s;
        transition: font-size 0.5s;
        }

    .item span:hover {
        color: blue;
        font-weight: bold;
        font-size: 25px
    }

    .h1 span {
        font-size: 65px;
        transition: color 1s, 
        text-decoration 0.3s;
        transition: font-size 0.5s;
        }

    .h1 span:hover {
        color: white;
        font-weight: bold;
        font-size: 68px
    }
